@import "tailwindcss";

@theme {
  --color-midnight: #000502;
}
body{
  background-color: #000502;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
}
